{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Project Go Live">
    <meta name="author" content="Nitu Balwani and Pallavi Limaye">
    <title>Peel Rescue</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
{{end}}